*{
    margin: 0px;
    padding: 0px;
    border: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: #03084d;
}
.container {
    /* height: 500px;
    width: 500px; */
    position: absolute;
    top: 140px;
    left: 150px;
}
#p1 {
    font-size: 35px;
    margin: 5px;
    color: whitesmoke;
}
#p2 {
    font-size: 40px; 
    margin: 5px;
    /* padding: 5px; */
    color: #238023;
}
#hr {
    color: #238023;
}
.main {
    height: 50px;
    width: 500px;
    background-color: white;
    position: relative;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
}
#input-box {
    width: 70%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
}
#img1 {
    height: 40px;
    width: 40px;
    background-image: url("copy1.webp");
    background-size: cover;
    cursor: pointer;
}
.button {
    position: relative;
    top: 40px;
    background-color: aqua;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    border-radius: 4px;
    background-color: #238023;
    
}
#img2 {
    height: 30px;
    width: 30px;
    /* display: inline; */
    background-image: url("current.png");
    background-size: cover;
}
#btn {
    font-size: 20px;
    background-color: #238023;
    border: none;
    /* border: transparent; */
    cursor: pointer;

    /* color: whitesmoke; */
    /* font-weight: bold; */
}